@model IEnumerable<Biblioteca.Models.Funcionario>
@{
    ViewData["Title"] = "Listar";
}

<h1>Listagem de Funcionario</h1>
<a asp-action="Novo" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>DataAdmissao</th>
            <th>Matricula</th>
            <th>Pis</th>
            <th>Salario</th>
            <th>Cpf</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Funcionario funcionario in Model)
        {
		<tr>
			<td>@funcionario.Nome</td>
			<td>@funcionario.Cargo</td>
			<td>@funcionario.DataAdmissao</td>
			<td>@funcionario.Matricula</td>
			<td>@funcionario.Pis</td>
			<td>@funcionario.Salario</td>
			<td>@funcionario.Cpf</td>
            <td>
			    <a asp-action="/Excluir/@funcionario.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
			    <a asp-action="/Editar/@funcionario.Id" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
		</tr>
        }
    </tbody>
</table>