@model Biblioteca.Models.Aluno
@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>
<form action="/Aluno/Excluir/" method="post">
    <label>ID</label>
    <input type="hidden" name="Id" value="@Model.Id" /><br />
    <label>Nome</label><br />
    <input type="text" name="Nome" value="@Model.Nome" disabled /><br />
    <label>Data de Nascimento</label><br />
    <input type="text" name="DataNascimento" value="@Model.DataNascimento.Date" disabled /><br />
    <label>Número</label><br />
    <input type="text" name="Numero" value="@Model.Numero" disabled /><br />
    <label>Sexo</label>
    <input type="text" name="Sexo" value="@Model.Sexo" disabled /><br />
    <label>CPF</label><br />
    <input type="text" name="Cpf" value="@Model.Cpf " disabled /><br />
    <label>RG</label><br />
    <input type="text" name="Rg" value="@Model.Rg" disabled /><br />
    <label>Rua</label><br />
    <input type="text" name="Rua" value="@Model.Rua" disabled /><br />
    <p><a href="/Aluno/Listar">Cancelar</a><input type="submit" name="Excluir" value="Concluir" /></p>
</form>

