@model IEnumerable<Biblioteca.Models.Aluno>
@{
    ViewData["Title"] = "Listar";
}
<h1>Listagem de Alunos</h1>
<a asp-action="Novo" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Data de Nascimento</th>
            <th>Numero</th>
            <th>OrgaoExpedidor</th>
            <th>Rg</th>
            <th>Cpf</th>
            <th>Rua</th>
            <th>Sexo</th>
            <th>Uf</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Aluno aluno in Model)
        {
            <tr>
                <td>@aluno.Nome</td>
                <td>@aluno.Cidade</td>
                <td>@aluno.DataNascimento.Date</td>
                <td>@aluno.Numero</td>
                <td>@aluno.OrgaoExpedidor</td>
                <td>@aluno.Rg</td>
                <td>@aluno.Cpf</td>
                <td>@aluno.Rua</td>
                <td>@aluno.Sexo</td>
                <td>@aluno.Uf</td>
                <td>
                    <a asp-action="/Excluir/@aluno.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                    <a asp-action="Editar/@aluno.Id" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>