@model IEnumerable<Biblioteca.Models.Emprestimo>
@{
    ViewData["Title"] = "Listagem";
}

<h1>Listagem de Emprestimo </h1>
<table>
    <thead>
        <tr>
            <td>Nome do Funcionario</td>
            <td>Nome do Aluno</td>
            <td>Numero de Item</td>
            <td>Data do Emprestimo</td>
            <td>Valor Total</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Emprestimo emprestimo in Model)
        {
            <tr>
                <th>@emprestimo.Funcionario.Nome</th>
                <th>@emprestimo.Aluno.Nome</th>
                <th>@emprestimo.ItensEmprestimos.Count()</th>
                <th>@emprestimo.DtEmprestimo.Date</th>
                <th>@emprestimo.ValorTotal</th>
            </tr>
        }
    </tbody>
</table>
