@model Biblioteca.Models.Livro
@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>
<form action="/Livro/Excluir/" method="post">
    <label>ID: @Model.Id</label>
    <input type="hidden" name="Id" value="@Model.Id" /><br />
    <label>Titulo</label><br />
    <input type="text" name="Titulo" value="@Model.Titulo" disabled /><br />
    <label>Autor</label><br />
    <input type="text" name="Autor" value="@Model.Autor" disabled /><br />
    <label>Editora</label><br />
    <input type="text" name="Editora" value="@Model.Editora" disabled /><br />
    <label>Data da Publicação</label><br />
    <input type="text" name="DtPublicacao" value="@Model.DtPublicacao.Date" disabled /><br />
    <p><a href="/Livro/Listar">Cancelar</a><input type="submit" name="Excluir" value="Concluir" /></p>
</form>

